<div class="row">
    <div class="card blue-grey darken-1 row">
      <div class="card-content white-text">
        <span class="card-title center">Tablero De Puntuaciones</span>
      </div>
      <div class="card-action row center">
        <a class="col s1">Anagrama</a>
        <a class="col s1 offset-s1">Piedra, Papel o Tijera</a>
        <a class="col s1 offset-s1">Adivina El Número</a>
        <a class="col s1 offset-s1">Cálculo</a>
        <a class="col s1 offset-s1">Memotest</a>
      </div>
      <div class="card-action row center">
        <a class="col s1">{{tablero.anagrama}}</a>
        <a class="col s1 offset-s1">{{tablero.ppot}}</a>
        <a class="col s1 offset-s1">{{tablero.adivina}}</a>
        <a class="col s1 offset-s1">{{tablero.calculo}}</a>
        <a class="col s1 offset-s1">{{tablero.memotest}}</a>
      </div>
    </div>
</div>

